footer {
	background-color: #f8d9e8;
	margin: 30px auto 0 auto;
	max-width: 1200px;
	padding: 10px;
    text-align: left;
	display: block;
	box-sizing: border-box;
	position: relative;
	margin-top: 40px;
	font-size: 90%;
}